.container {
  width: 100%;
}

.content {
  width: 87%;
  margin: 0 auto;
  min-width: 1280px;
}

.header {
  height: 110px;
  display: flex;
  justify-content: space-between;
}
.header h1 {
  font-weight: 900;
  color: #1a1a1a;
  line-height: 93px;
  float: left;
}
.header ul li {
  float: left;
  margin-right: 32px;
  font-weight: 400;
}
.header ul li a {
  color: #333;
  font-size: 16px;
  line-height: 93px;
}
.header ul li :hover {
  font-size: 20px;
  color: #000;
  font-weight: 600;
}
.header .right > .login a {
  color: #333;
  font-size: 13px;
  line-height: 93px;
  margin: 0 12px;
}
.header .right > .open {
  display: none;
  width: 150px;
  height: 30px;
  margin: 40px 20px 0;
  border: 1px solid #f00000;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  position: relative;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  color: #f00000;
  cursor: pointer;
}
.header .right > .open i {
  margin-right: 25px;
}
.header .right > .open span {
  position: absolute;
  left: 24px;
  top: -2px;
  width: 25px;
  height: 15px;
  background-color: #f00;
  border: 1px solid #fff;
  color: #fff;
  line-height: 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.banner {
  width: 100%;
  height: 1000px;
  background: url(../images/Homepage-desktop.jpg) no-repeat;
  background-size: 100% 100%;
}

.index-main {
  position: relative;
  overflow: hidden;
  background-color: #fff;
}
.index-main .left {
  float: left;
  margin-top: 30px;
  width: 60%;
  height: 700px;
}
.index-main .left > a {
  width: 100%;
  height: 76%;
  display: block;
  overflow: hidden;
  position: relative;
}
.index-main .left > a img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.index-main .left > a:hover img {
  width: 105%;
  height: 105%;
  top: 0;
  left: 0;
}
.index-main .left > p {
  font-size: 20px;
  color: #333;
  line-height: 50px;
  margin-left: 30px;
}
.index-main .left > :nth-child(2) {
  font-weight: 600;
}
.index-main .left > :last-child {
  font-size: 20px;
  text-decoration: underline;
}
.index-main .left > :last-child a {
  margin-right: 20px;
  padding-bottom: 5px;
}
.index-main .right {
  float: right;
  margin-top: 30px;
  width: 30%;
  height: 700px;
}
.index-main .right > a {
  width: 100%;
  height: 76%;
  display: block;
  overflow: hidden;
  position: relative;
}
.index-main .right > a img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.index-main .right > a:hover img {
  width: 105%;
  height: 105%;
  top: 0;
  left: 0;
}
.index-main .right > p {
  font-size: 20px;
  color: #333;
  line-height: 50px;
  margin-left: 30px;
}
.index-main .right > :nth-child(2) {
  font-weight: 600;
}
.index-main .right > :last-child {
  font-size: 20px;
  text-decoration: underline;
}
.index-main .right > :last-child a {
  margin-right: 20px;
  padding-bottom: 5px;
}
.index-main .left1 {
  float: left;
  margin-top: 30px;
  width: 30%;
  height: 600px;
}
.index-main .left1 > a {
  width: 100%;
  height: 76%;
  display: block;
  overflow: hidden;
  position: relative;
}
.index-main .left1 > a img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.index-main .left1 > a:hover img {
  width: 105%;
  height: 105%;
  top: 0;
  left: 0;
}
.index-main .left1 > p {
  font-size: 20px;
  color: #333;
  line-height: 50px;
  margin-left: 30px;
}
.index-main .left1 > :nth-child(2) {
  font-weight: 600;
}
.index-main .left1 > :last-child {
  font-size: 20px;
  text-decoration: underline;
}
.index-main .left1 > :last-child a {
  margin-right: 20px;
  padding-bottom: 5px;
}
.index-main .right1 {
  float: right;
  margin-top: 30px;
  width: 55%;
  height: 600px;
}
.index-main .right1 > a {
  width: 100%;
  height: 76%;
  display: block;
  overflow: hidden;
  position: relative;
}
.index-main .right1 > a img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.index-main .right1 > a:hover img {
  width: 105%;
  height: 105%;
  top: 0;
  left: 0;
}
.index-main .right1 > p {
  font-size: 20px;
  color: #333;
  line-height: 50px;
  margin-left: 30px;
}
.index-main .right1 > :nth-child(2) {
  font-weight: 600;
}
.index-main .right1 > :last-child {
  font-size: 20px;
  text-decoration: underline;
}
.index-main .right1 > :last-child a {
  margin-right: 20px;
  padding-bottom: 5px;
}
.index-main .left2 {
  float: left;
  margin-top: 30px;
  width: 70%;
  height: 600px;
}
.index-main .left2 > a {
  width: 100%;
  height: 76%;
  display: block;
  overflow: hidden;
  position: relative;
}
.index-main .left2 > a img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.index-main .left2 > a:hover img {
  width: 105%;
  height: 105%;
  top: 0;
  left: 0;
}
.index-main .left2 > p {
  font-size: 20px;
  color: #333;
  line-height: 50px;
  margin-left: 30px;
}
.index-main .left2 > :nth-child(2) {
  font-weight: 600;
}
.index-main .left2 > :last-child {
  font-size: 20px;
  text-decoration: underline;
}
.index-main .left2 > :last-child a {
  margin-right: 20px;
  padding-bottom: 5px;
}
.index-main .right2 {
  float: right;
  margin-top: 30px;
  width: 25%;
  height: 600px;
}
.index-main .right2 > a {
  width: 100%;
  height: 76%;
  display: block;
  overflow: hidden;
  position: relative;
}
.index-main .right2 > a img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.index-main .right2 > a:hover img {
  width: 105%;
  height: 105%;
  top: 0;
  left: 0;
}
.index-main .right2 > p {
  font-size: 20px;
  color: #333;
  line-height: 50px;
  margin-left: 30px;
}
.index-main .right2 > :nth-child(2) {
  font-weight: 600;
}
.index-main .right2 > :last-child {
  font-size: 20px;
  text-decoration: underline;
}
.index-main .right2 > :last-child a {
  margin-right: 20px;
  padding-bottom: 5px;
}

.login-main {
  min-height: 750px;
  background: url(../images/heytap_bg.1612deb5.png) no-repeat center -150px;
  padding-top: 100px;
}
.login-main form {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.login-main form > h3 {
  font-size: 30px;
  font-weight: 600;
  color: #a09c9a;
  margin-top: 30px;
}
.login-main form > :nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
}
.login-main form [name=username],
.login-main form [name=password],
.login-main form [name=repassword],
.login-main form [type=button] {
  width: 70%;
  height: 60px;
  margin-top: 25px;
  border-radius: 10px;
  font-size: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  padding-left: 10px;
  background-color: #f7f7f7;
}
.login-main form [type=button] {
  background-color: #2ad181;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
}
.login-main form > :nth-child(7) {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}
.login-main form > :nth-child(7) a {
  color: #2ad181;
}
.login-main form > :last-child {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-bottom: 30px;
  font-size: 16px;
  margin-top: 10px;
}
.login-main form > :last-child > :last-child {
  color: #2ad181;
}

.register-main {
  min-height: 750px;
  background: url(../images/heytap_bg.1612deb5.png) no-repeat center -150px;
  padding-top: 100px;
}
.register-main form {
  width: 500px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
}
.register-main form > h3 {
  font-size: 30px;
  font-weight: 600;
  color: #a09c9a;
  margin-top: 30px;
}
.register-main form > :nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin-top: 20px;
  font-size: 16px;
}
.register-main form [name=username],
.register-main form [name=password],
.register-main form [name=repassword],
.register-main form [type=button] {
  width: 70%;
  height: 60px;
  margin-top: 25px;
  border-radius: 10px;
  font-size: 16px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  padding-left: 10px;
  background-color: #f7f7f7;
}
.register-main form [type=button] {
  background-color: #2ad181;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  padding: 0;
}
.register-main form .checkBox {
  display: flex;
  align-items: center;
}

.list-main {
  min-height: 750px;
}
.list-main ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.list-main ul li {
  float: left;
  width: 30%;
  height: 700px;
}
.list-main ul li > a {
  width: 100%;
  height: 76%;
  display: block;
  overflow: hidden;
  position: relative;
}
.list-main ul li > a img {
  position: absolute;
  left: -5%;
  top: -5%;
  width: 110%;
  height: 110%;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.list-main ul li > a:hover img {
  width: 105%;
  height: 105%;
  top: 0;
  left: 0;
}
.list-main ul li > p {
  font-size: 20px;
  color: #333;
  line-height: 50px;
  margin-left: 30px;
}
.list-main ul li > :nth-child(2) {
  font-weight: 600;
}
.list-main ul li > :last-child {
  font-size: 20px;
  text-decoration: underline;
}
.list-main ul li > :last-child a {
  margin-right: 20px;
  padding-bottom: 5px;
}
.list-main .banner2 {
  width: 100%;
  height: 500px;
  background: url(../images/Homepage-desktop.jpg) no-repeat;
  background-size: 100% 100%;
}

.details-main {
  min-height: 750px;
  background: url(../images/heytap_bg.1612deb5.png) center -150px;
}
.details-main .box {
  margin: 50px 100px;
  float: left;
  position: relative;
  width: 500px;
  height: 600px;
}
.details-main .box .left-box {
  width: 500px;
  height: 600px;
  float: left;
}
.details-main .box .left-box .top {
  width: 500px;
  height: 500px;
  position: relative;
  margin-bottom: 20px;
}
.details-main .box .left-box .top .img,
.details-main .box .left-box .top .img img {
  width: 100%;
  height: 100%;
}
.details-main .box .left-box .top .xianshi {
  width: 150px;
  height: 150px;
  background-color: rgba(240, 110, 77, 0.5);
  position: absolute;
  left: 0;
  top: 0;
  display: none;
}
.details-main .box .left-box .footer1 {
  width: 100%;
  height: 80px;
}
.details-main .box .left-box .footer1 .img1 {
  width: 60px;
  height: 60px;
  margin-left: 30px;
  float: left;
}
.details-main .box .left-box .footer1 .img1 img {
  width: 100%;
  height: 100%;
}
.details-main .box .right-box {
  width: 500px;
  height: 500px;
  position: absolute;
  left: 100%;
  margin-left: 50px;
  background: #fff url(../images/middle-banner-01-findx2pro.jpg);
  background-size: 333.33% 333.33%;
  display: none;
}
.details-main .right {
  float: right;
  margin-top: 50px;
  width: 620px;
}
.details-main .right h3 {
  margin-right: 100px;
  font-size: 30px;
}
.details-main .right h3 span {
  font-size: 16px;
  color: red;
}
.details-main .right p {
  margin-top: 50px;
  font-size: 18px;
}
.details-main .right [type=radio] {
  margin-left: 10px;
}
.details-main .right [type=button] {
  width: 70%;
  height: 60px;
  margin-top: 25px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border: none;
  padding-left: 10px;
  background-color: #2ad181;
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.car-main {
  min-height: 750px;
  background: url(../images/heytap_bg.1612deb5.png) center -150px;
}
.car-main .cart-thead {
  color: #666;
  display: block;
  height: 32px;
  line-height: 32px;
  margin: 0 auto 10px;
  padding: 5px 0;
  background: #f3f3f3;
  border: 1px solid #e9e9e9;
  border-top: 0;
  position: relative;
  width: 990px;
}
.car-main .cart-thead .t-checkbox {
  color: #666;
  float: left;
  height: 18px;
  line-height: 18px;
  padding-top: 7px;
  width: 122px;
  padding-left: 11px;
}
.car-main .cart-thead .t-checkbox .cart-checkbox {
  color: #666;
  line-height: 18px;
  position: relative;
  z-index: 3;
  float: left;
  margin-right: 5px;
}
.car-main .cart-thead .t-checkbox .cart-checkbox label {
  display: none;
}
.car-main .cart-thead .t-checkbox .cart-checkbox .jdcheckbox {
  float: none;
  position: relative;
  z-index: 5;
  vertical-align: middle;
  margin: 0 3px 0 0;
}
.car-main .cart-thead .t-goods {
  color: #666;
  line-height: 32px;
  float: left;
  width: 208px;
}
.car-main .cart-thead .t-props {
  color: #666;
  line-height: 32px;
  float: left;
  height: 32px;
  padding: 0 10px 0 20px;
  width: 140px;
}
.car-main .cart-thead .t-price {
  width: 120px;
  padding-right: 40px;
  text-align: right;
  float: left;
}
.car-main .cart-thead .t-quantity {
  width: 80px;
  text-align: center;
  float: left;
}
.car-main .cart-thead .t-sum {
  width: 100px;
  padding-right: 40px;
  text-align: right;
  float: left;
}
.car-main .cart-thead .t-action {
  width: 75px;
  float: right;
}
.car-main .list {
  width: 990px;
  margin: 0 auto;
  padding-top: 15px;
  overflow: hidden;
  padding-bottom: 15px;
  background-color: #fff;
  border: 1px solid #333;
}
.car-main .list [type=checkbox] {
  float: left;
  margin-left: 11px;
  padding-top: 7px;
}
.car-main .list img {
  width: 80px;
  height: 80px;
  margin-left: 12px;
  float: left;
}
.car-main .list .name1 {
  float: left;
  width: 208px;
  height: 40px;
  line-height: 20px;
  font-size: 14px;
  margin-left: 10px;
}
.car-main .list .name1 a:hover {
  color: red;
}
.car-main .list .jiesao {
  float: left;
  width: 150px;
  height: 55px;
  padding-left: 20px;
}
.car-main .list .money {
  float: left;
  width: 130px;
  height: 55px;
  text-align: right;
}
.car-main .list .shuliang {
  float: left;
  width: 80px;
  height: 22px;
  margin-left: 46px;
  border: 1px solid #333;
}
.car-main .list .shuliang button {
  width: 20px;
  height: 22px;
  padding: 0;
  border: 0;
  text-align: center;
  line-height: 22px;
  float: left;
}
.car-main .list .shuliang [type=number] {
  float: left;
  width: 40px;
  height: 22px;
  margin: 0;
  padding: 0;
  border: 0;
}
.car-main .list .xiaoji {
  float: left;
  width: 96px;
  height: 55px;
  text-align: right;
}
.car-main .list .caozuo {
  float: right;
  margin-right: 10px;
}

.footer {
  background-color: #121212;
  margin-top: 30px;
}
.footer > .content {
  padding-top: 50px;
  height: 450px;
}
.footer > .content > ul {
  float: left;
  margin-left: 50px;
}
.footer > .content > ul > li {
  float: left;
  margin-right: 100px;
}
.footer > .content > ul > li h4 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
}
.footer > .content > ul > li ul li {
  line-height: 40px;
  font-size: 18px;
}
.footer > .content > ul > li ul li a {
  color: #a09c9a;
}
.footer > .content > ul > li ul li :hover {
  font-size: 20px;
  color: #fff;
}
.footer > .content > .right {
  float: right;
  text-align: right;
}
.footer > .content > .right h4 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 30px;
}
.footer > .content > .right p,
.footer > .content > .right a {
  line-height: 40px;
  font-size: 18px;
  color: #a09c9a;
}
.footer > .content > .right .hui {
  margin-top: 150px;
}
.footer > .btm {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #fff;
}
.footer > .btm p {
  text-align: center;
  color: #a09c9a;
}

/*# sourceMappingURL=index.css.map */
